* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.cyfonii-container {
    width: 100%;
    height: 120vh;
}

/* navbar-section */

.cyfonii {
    margin-left: -262px;
}

.navbar-section {
    width: 100%;
    height: 13vh;
    background-color: rgb(7, 10, 41);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}


.navbar-section ul {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.navbar-section ul li {
    position: relative;
}

.navbar-section ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

.fa-magnifying-glass {

    font-size: 25px;
    font-weight: lighter;
    margin-right: -230px;

}

.button-a {
    border: 1px solid rgba(255, 255, 255, 0.224);
    padding: 5px 6px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.066);
    margin-right: -240px;
}

.navbar-section button {
    padding: 11px 21px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(134, 95, 255);
    color: white;
}

ul.drop-down {
    position: absolute;
    top: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    background-color: white;
    opacity: 0;
    z-index: -1;
    border-radius: 8px;
    border: none;

}

ul.drop-down li {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.216);

}

ul.drop-down li a {
    width: 100%;
    height: 50%;
    padding-left: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    color: black;
}


.navbar-section ul li:hover ul.drop-down {
    opacity: 1;
    z-index: 111111111;
    transition: 1s ease-in-out;

}

.navbar-section ul li:hover ul.drop-down-two {
    opacity: 1;
    z-index: 111111111;
    transition: 1s all linear;
}

ul.drop-down-two {
    position: absolute;
    top: 40px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    border-radius: 8px;
    background-color: white;
    opacity: 0;
    z-index: -1;
    border: none;
}

ul.drop-down-two li {
    width: 100%;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.216);
}

ul.drop-down-two li a {
    width: 100%;
    height: 50%;
    padding: 18px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    color: black;

}

/* frist-container */
.first-section {
    width: 100%;
    height: 107vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.left-container {
    width: 50%;
    height: 100%;
    background-color: rgb(7, 10, 41);
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.left-container h1 {
    font-size: 60px;
    color: white;
    width: 80%;
    line-height: 70px;
    margin-top: 60px;
    margin-left: 10px;
}

.left-container h1 span {
    color: rgb(134, 95, 255);
}

.left-container p {
    color: white;
    font-size: 16px;
    width: 80%;
    line-height: 23px;
    margin-top: -60px;
    margin-left: 20px;
}

.button-b {

    padding: 4px 4px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.224);
    background-color: rgba(255, 255, 255, 0.066);
    margin-left: 15px;
    margin-top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-container button {
    padding: 18px 50px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color: rgb(134, 95, 255);
    border-radius: 10px;
    border: none
}

.left-container h2 {
    font-size: 15px;
    color: white;
    margin-left: 10px;
    margin-bottom: -75px;
}

.icon-main {
    /* border: 2px solid yellow; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -30px;
    margin-bottom: -60px;


}

.icon-main span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.338);
    margin-left: -120px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -100px;

}

.img1 {
    width: 50px;

}

.mgrey {
    width: 40px;
    display: flex;
}

.mwhite {
    width: 40px;
    display: none;
}

.img1:hover .mgrey {
    display: none;
}

.img1:hover .mwhite {
    display: flex;
}

.img2 {
    width: 50px;
}

.ligrey {
    width: 45px;
    display: flex;
}

.liwhite {
    width: 45px;
    display: none;
}

.img2:hover .ligrey {
    display: none;
}

.img2:hover .liwhite {
    display: flex;
}

/*  */

.img3 {
    width: 50px;
}

.stgrey {
    width: 50px;
    display: flex;
}

.stwhite {
    width: 50px;
    display: none;
}

.img3:hover .stgrey {
    display: none;
}

.img3:hover .stwhite {
    display: flex;
}

/*  */

.img4 {
    width: 50px;
}

.swgrey {
    width: 50px;
    display: flex;
}

.swwhite {
    width: 50px;
    display: none;
}

.img4:hover .swgrey {
    display: none;
}

.img4:hover .swwhite {
    display: flex;
}

/*  */

.img5 {
    width: 50px;
}

.etgrey {
    width: 40px;
    display: flex;
}

.etwhite {
    width: 40px;
    display: none;
}

.img5:hover .etgrey {
    display: none;
}

.img5:hover .etwhite {
    display: flex;
}

/*  */

.img6 {
    width: 50px;
}

.bigrey {
    width: 30px;
    display: flex;
}

.biwhite {
    width: 30px;
    display: none;
}

.img6:hover .bigrey {
    display: none;
}

.img6:hover .biwhite {
    display: flex;
}

/*right-container*/

.right-container {
    width: 50%;
    height: 100%;
    background-color: rgb(7, 10, 41);
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-container img {
    border-radius: 20%;
    height: 85%;
    margin-right: 0px;


}

/* second section */

.second-section {

    width: 100%;
    height: 100vh;
    background-color: rgb(7, 10, 41);
    display: flex;
    align-items: center;
    align-items: center;

}

.se-left-container {

    width: 50%;
    height: 100%;

}

.se-left-container img {

    width: 58%;
    border-radius: 100px;
    margin-left: 170px;
    margin-top: 110px;



}

/*  */
.se-right-container {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;


}

.one {
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 6px 13px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.038);
    color: rgb(134, 95, 255);
    margin-left: 40px;
}

.se-right-container h1 {

    font-size: 50px;
    color: rgb(255, 255, 255);
    width: 520px;
    line-height: 60px;
    margin-left: 40px;

}

.se-right-container h2 {

    color: rgba(255, 255, 255, 0.878);
    font-size: 15px;
    font-weight: lighter;
    width: 520px;
    line-height: 20px;
    margin-left: 40px;

}

.class-two {
    border: 1px solid rgba(255, 255, 255, 0.224);
    background-color: rgba(255, 255, 255, 0.066);
    padding: 4px 4px;
    border-radius: 10px;
    margin-left: 40px;
}

.two {
    padding: 14px 22px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 14px;
    background-color: rgb(134, 95, 255);
    color: white;
    border: none;

}

/*thrid-section*/

.thrid-section {
    width: 100%;
    height: 100vh;
    background-color: rgb(7, 10, 41);

}

.top-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.top-container button {
    padding: 8px 15px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(134, 95, 255);
    background-color: rgba(255, 255, 255, 0.038);
    border: 1px solid rgba(255, 255, 255, 0.118);
    border-radius: 20px;
    margin-top: 80px;
}

.top-container h1 {
    color: white;
    font-size: 50px;
    width: 50%;
    text-align: center;
}

.top-container span {
    color: white;
    font-size: 15px;
    text-align: center;

}

/* bottom-container */

.bottom-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;


}

.card-container-one {
    width: 260px;
    height: 290px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0643907221091562) 0%, rgba(178, 145, 255, 0) 100%);
    border-radius: 20px;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.one-img-class {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: -150px;
}

.one-img-class img {
    padding: 15px 15px;
    background-color: rgb(134, 95, 255);
    border-radius: 50px;
    width: 100px;
    transition: 1s all linear;
}

.one-img-class img:hover {
    transform: rotatey(360deg);
    transition: 1s all linear;
}

.card-container-one:hover .e-img {
    transform: rotatey(360deg);
    transition: 1s all linear;
}

.card-container-one h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;

}

.card-container-one p {
    color: white;
    text-align: center;
    font-size: 15px;
}

.card-container-one h1 {
    color: rgba(255, 255, 255, 0.101);
    text-align: center;
    /* margin-top: 10px; */
    font-size: 50px;
    transition: .5s all linear;

}

.card-container-one:hover .hamarah1 {
    color: white;
    transition: .5s all linear;
}

/* fourth section */

.fourth-section {
    width: 100%;
    height: 130vh;

    background-color: rgb(7, 10, 41);
    display: flex;
    flex-wrap: wrap;

}

/* top-container */

.fourth-top-container {
    width: 100%;
    height: 20vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.fourth-top-container button {
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 6px 13px;
    border-radius: 18px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.038);
    color: rgb(134, 95, 255);
    margin-top: 20px;
}

.fourth-top-container h1 {
    color: white;
    font-size: 50px;
}

/* left-container */

.fourth-left-container {
    width: 50%;
    height: 110vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;


}

.first-box {
    width: 75%;
    height: 23%;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0643907221091562) 0%, rgba(178, 145, 255, 0) 100%);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

/* img-container */

.img-container {
    width: 15%;
    height: 70%;
    border-right: 1px solid rgba(255, 255, 255, 0.212);
    /* border-top-left-radius: 18px;
    border-bottom-left-radius: 18px; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-container img {
    width: 40px;
    margin-bottom: 60px;
}

.fourth-left-container button {
    background-color: rgba(255, 255, 255, 0.038);
    color: rgb(134, 95, 255);
    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 6px 13px;
    border-radius: 18px;
    font-size: 13px;
    font-family: serif;
    font-weight: bolder;

    position: absolute;
    display: flex;
    margin-right: 31.50%;
    margin-bottom: 12.50%;

}

/* information-container */

.information-container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.information-container h1 {
    color: white;
    font-size: 21px;
    margin-left: 15px;
}

.information-container p {
    color: white;
    font-size: 15px;
    margin-left: 15px;
}

/* right-container */

.fourth-right-container {
    width: 50%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-right-container img {
    width: 85%;

}

/* fifth */

.fifth-section {
    width: 100%;
    height: 110vh;
    background-color: rgb(7, 10, 41);
    

}

.our {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.our button {

    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 6px 13px;
    border-radius: 18px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.038);
    color: rgb(134, 95, 255);
    margin-top: 20px;
}

.our h1 {

    color: white;
    font-size: 45px;
}

.img-section {

    display: flex;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.one-img-container {

    width: 410px;
    height: 440px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.058);
    background-color: rgba(255, 255, 255, 0.038);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.one-img-container img {
    width: 370px;
    height: 390px;
    border-radius: 20px;
}

.blur-div {
    width: 85%;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    margin-top: 320px;
}

.blur {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.285);
    position: absolute;
    filter: blur(3px);
}

.blur-div a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

/* sixth-section */

.sixth-section {
    width: 100%;
    height: 140vh;
    background-color: rgb(7, 10, 41);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}

.top-journey-container {
    width: 100%;
    height: 25vh;
    border: 2px solid rgb(144, 40, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.top-journey-container button {

    border: 1px solid rgba(255, 255, 255, 0.116);
    padding: 6px 13px;
    border-radius: 18px;
    font-size: 15px;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.038);
    color: rgb(134, 95, 255);
    margin-top: 20px;

}

.top-journey-container h1 {
    color: white;
    font-size: 50px;
}

.controler-section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
}

.left-journey-container {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items:end;
    justify-content:center;
    flex-direction:column;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.top-Journey-Road-map{
    width: 5%;
    height: 32%;
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

.bottom-journey-Road-map{
    width: 5%;
    height: 32%;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    
   
} 

.right-journey-container{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:start;
  
}

.middle-journey-map{
    width: 5%;
    height: 32%;
    border: 1px solid white;
    border-right: none;
    border-left: none; 
}







